<div class="container-fluid mt-3">
  <skriil-table [tableContext]="tableContext">
    <ng-template skriilTableColumn let-item>
      {{ item.id }}
    </ng-template>

    <ng-template skriilTableColumn let-item>
      {{ item.name }}
    </ng-template>


    <ng-template skriilForm>
      <skriil-form-field label="Name">
        <input *skriilFormField class="form-control">
      </skriil-form-field>

      <skriil-form-field label="Test">
        <input *skriilFormField class="form-control">
      </skriil-form-field>
    </ng-template>
  </skriil-table>
</div>
